<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Practica</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <img id="imagenLogo" src="../img/foto-perfil.jpg" alt="foto-perfil">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="views/sobremi.html">Sobre mi</a></li>
        </ul>
    </header>
    <main>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores alias officia doloribus facere tenetur vitae, explicabo quia rem perferendis unde temporibus omnis, sapiente modi voluptatum vero sint veritatis dicta ullam.</p>
        </article>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsa, voluptates dignissimos, odio qui dolores provident est incidunt iure cumque impedit atque. Incidunt corrupti iure dolore ipsam laborum assumenda optio.
        </article>
    </main>
    <footer>
        <span id="parrafoFooter"> 0810 - BATMAN </span>
        <span>
            <img src="img/ico_instagram.png" alt="ico_instagram">
            <img src="img/ico_linkedin.png" alt="ico_linkedin">
        </span>
    </footer>
</body>
</html>